body {


  background-color: #EDF7F6;
  background-image: url('ab.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;

}
    h1 {
    	color:blue
    }
    h2 {
    	color:blue
    }
   h5  {
   	    color:blue
   }
   h4  {
   	    color:blue
   }
   h3  {
   	     color:red
   }

li font {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

