body {


  background-color: #EDF7F6;
  background-image: url('2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;

}
    h1 {
    	color:blue
    }
    h2 {
    	color:blue
    }
   h5  {
   	    color:blue
   }
   h4  {
   	    color:blue
   }
   h3  {
   	     color:red
   }

   
   


body {
  font-family: "Lato", sans-serif;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #c0c0c0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #804040;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #0080c0;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
