body {

  background-image: url('tracking.jpg');
  
  background-color: #5ca369;
 
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;

}

table{
	background-color:white;
	border-color:red;
    border:"1";

}

font{
	color:red;
}

h1{
	color:white;
}

h2{
	color:yellow;
}

button {
  background-color: #ff8040;
  color: white;
  padding: 6px 13px;
  font-size: 12px;
}